/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/plus-jakarta-sans-v8-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/plus-jakarta-sans-v8-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-blue-900: hsl(233, 54%, 16%);
  --color-blue-600: hsl(234, 25%, 52%);
  --color-pink-600: hsl(341, 92%, 62%);
  --color-pink-300: hsl(341, 100%, 83%);
  --color-grey: hsl(232, 10%, 56%);
  --color-white: hsl(255, 0%, 100%);
  --gradient-pink1: hsl(13, 100%, 64%);
  --gradient-pink2: hsl(322, 87%, 55%);
  --gradient-purple1: hsl(237, 100%, 64%);
  --gradient-purple2: hsl(322, 87%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  color: var(--color-grey);
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin: 0;
  color: var(--color-blue-900);
}

h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.858974358974359rem + 2.735042735042735vw, 3.5rem);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(100% - 40px, 70rem) 1fr;
}

.wrapper > .content {
  grid-column: 2 / span 1;
}

@media (width >= 40em) {
  .wrapper {
    grid-template-columns: 1fr min(100% - 88px, 70rem) 1fr;
  }
}
