.header {
  padding-block: 16px;
}

.header > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 4.94rem;
  height: 1.25rem;
}

@media (width >= 60em) {
  .header .logo {
    width: 6.9375rem;
    height: 1.75rem;
  }
}
