.button {
  display: inline-block;
  font-size: var(--fs-7);
  line-height: 1.5;
  font-weight: 700;
  padding: 10.5px 24px;
  border-radius: 28px;
  transition: 150ms ease-in-out;
  transition-property: background, opacity;
}

.button.dark {
  background: var(--color-blue-900);
  color: var(--color-white);
}

.button.dark:hover {
  background: var(--color-blue-600);
}

.button.pink {
  background: var(--gradient-pink);
  color: var(--color-white);
}

.button.pink:hover {
  opacity: 0.5;
}

.button.purple {
  background: var(--gradient-purple);
  color: var(--color-white);
}

.button.purple:hover {
  opacity: 0.5;
}

@media (width >= 75em) {
  .button {
    padding: 16px 32px;
  }
}
